Repository liminal-ai-security/liminal-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-ast, check-docstring-first, check-json, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: blacken-docs
        name: "☕️ Format documentation using black"
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
        entry: blacken-docs
        require_serial: true
      - id: check-ast
        name: "🐍 Checking Python AST"
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: "🔠 Checking for case conflicts"
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: "ℹ️  Checking docstrings are first"
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: "🧐 Checking that executables have shebangs"
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: "｛ Checking JSON files"
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: "💥 Checking for merge conflicts"
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-symlinks
        name: "🔗 Checking for broken symlinks"
        language: system
        types: [symlink]
        entry: check-symlinks
      - id: check-toml
        name: "✅ Checking TOML files"
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: "✅ Checking code for misspellings"
        language: system
        types: [text]
        exclude: |
          (?x)^($^
          |.*uv\.lock
          )$
        entry: codespell
      - id: debug-statements
        name: "🪵 Checking for debug statements and imports (Python)"
        language: system
        types: [python]
        entry: debug-statement-hook
      - id: detect-private-key
        name: "🕵️  Detecting private keys"
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: "🔚 Checking end of files"
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: fix-byte-order-marker
        name: "🚏 Checking UTF-8 byte order marker"
        language: system
        types: [text]
        entry: fix-byte-order-marker
      - id: format
        name: "☕️ Formatting code using ruff"
        language: system
        types: [python]
        entry: ruff format
      - id: mypy
        name: "🆎 Performing static type checking using mypy"
        language: system
        types: [python]
        entry: mypy
      - id: no-commit-to-branch
        name: "🛑 Checking for commit to protected branch"
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=development
          - --branch=main
      - id: pylint
        name: "🌟 Starring code with pylint"
        language: system
        types: [python]
        entry: pylint
      - id: ruff
        name: "👔 Enforcing style guide with ruff"
        language: system
        types: [python]
        entry: ruff check --fix
        require_serial: true
      - id: trailing-whitespace
        name: "✄  Trimming trailing whitespace"
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: uv-lock
        name: "🔒 Ensure the uv.lock file is up to date"
        language: system
        entry: uv lock --locked
        files: pyproject.toml$
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.4"
    hooks:
      - id: prettier
        name: "💄 Ensuring files are prettier"

try again
  .github/actions/install-uv/action.yml
Due: codespell

hmm
  .github/actions/install-uv/action.yml
Due: codespell

update all workflows
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/test.yml
Due: codespell

better naming
  pyproject.toml
  scripts/setup.sh
  uv.lock
Due: check-toml, codespell, uv-lock

icons
  .github/workflows/create-release-pr.yml
Due: codespell

icons
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
Due: codespell

ci: allow breaking change Conventional Commit notation in PR title
  .github/workflows/scan-pull-request.yml
Due: codespell

docs: update Release Drafter template to include authors
  .github/release-drafter.yml
Due: codespell

build: rework how `uv` is managed and installed (#393)
  .github/actions/install-uv/action.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
  pyproject.toml
  requirements-dev.txt
  scripts/setup.sh
  uv.lock
Due: check-toml, codespell, uv-lock

docs: update Release Drafter template to include authors (#395)
  .github/release-drafter.yml
Due: codespell

ci: allow breaking change Conventional Commit notation in PR title (#394)
  .github/workflows/scan-pull-request.yml
Due: codespell

Update version to 2025.3.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

refactor: replace compromised `tj-actions/changed-files` with clean fork
  .github/workflows/lint-and-analyze.yml
Due: codespell

refactor: replace compromised `tj-actions/changed-files` with clean fork (#432)
  .github/workflows/lint-and-analyze.yml
Due: codespell

feat: add IBM watsonx as a supported provider
  liminal/endpoints/llm/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

feat: add IBM watsonx as a supported provider (#453)
  liminal/endpoints/llm/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

refactor!: remove strict validation of model providers
  liminal/endpoints/llm/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

refactor!: remove strict validation of model providers (#459)
  liminal/endpoints/llm/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

Update version to 2025.04.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

fix: fix bug in parsing custom term analysis findings
  liminal/endpoints/prompt/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

fix tests
  tests/fixtures/prompt-analyze-response.json
Due: check-json, codespell

chore: update analysis findings schema to match latest Liminal API spec (#477)
  liminal/endpoints/prompt/models.py
  tests/fixtures/prompt-analyze-response.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, mypy, pylint, ruff

Update version to 2025.05.0
  pyproject.toml
Due: check-toml, codespell, uv-lock

chore: update `pylint` ignore list (covered by `ruff`)
  pyproject.toml
Due: check-toml, codespell, uv-lock

chore: update `pylint` ignore list (covered by `ruff`) (#509)
  pyproject.toml
Due: check-toml, codespell, uv-lock

workflows
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
Due: codespell

clean up options
  pyproject.toml
Due: check-toml, codespell, uv-lock

sync upgrades
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

wider range
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

Update version to 2026.02.0
  pyproject.toml
Due: check-toml, codespell, uv-lock

chore: remove `pylint` in favor of `ruff`
  .pre-commit-config.yaml
  liminal/auth/__init__.py
  liminal/auth/microsoft/device_code_flow.py
  liminal/client.py
  liminal/helpers/model.py
  liminal/helpers/schema.py
  pyproject.toml
  uv.lock
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

chore: remove `pylint` in favor of `ruff` (#681)
  .pre-commit-config.yaml
  liminal/auth/__init__.py
  liminal/auth/microsoft/device_code_flow.py
  liminal/client.py
  liminal/helpers/model.py
  liminal/helpers/schema.py
  pyproject.toml
  uv.lock
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

Update version to 2026.03.0
  pyproject.toml
Due: check-toml, codespell, uv-lock

Run hooks
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

Remove deidentified_context_history field from SubmitData
  liminal/endpoints/prompt/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

chore!: Remove `deidentified_context_history field` from `SubmitData` (#707)
  liminal/endpoints/prompt/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

Update version to 2026.03.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

Update version to 2026.03.1
  pyproject.toml
Due: check-toml, codespell, uv-lock

Update version to 2026.3.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

Fix versioning
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock
