Repository liminal-ai-security/liminal-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-ast, check-docstring-first, check-json, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: blacken-docs
        name: "☕️ Format documentation using black"
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
        entry: blacken-docs
        require_serial: true
      - id: check-ast
        name: "🐍 Checking Python AST"
        language: system
        types: [python]
        entry: check-ast
      - id: check-case-conflict
        name: "🔠 Checking for case conflicts"
        language: system
        entry: check-case-conflict
      - id: check-docstring-first
        name: "ℹ️  Checking docstrings are first"
        language: system
        types: [python]
        entry: check-docstring-first
      - id: check-executables-have-shebangs
        name: "🧐 Checking that executables have shebangs"
        language: system
        types: [text, executable]
        entry: check-executables-have-shebangs
        stages: [pre-commit, pre-push, manual]
      - id: check-json
        name: "｛ Checking JSON files"
        language: system
        types: [json]
        entry: check-json
      - id: check-merge-conflict
        name: "💥 Checking for merge conflicts"
        language: system
        types: [text]
        entry: check-merge-conflict
      - id: check-symlinks
        name: "🔗 Checking for broken symlinks"
        language: system
        types: [symlink]
        entry: check-symlinks
      - id: check-toml
        name: "✅ Checking TOML files"
        language: system
        types: [toml]
        entry: check-toml
      - id: codespell
        name: "✅ Checking code for misspellings"
        language: system
        types: [text]
        exclude: |
          (?x)^($^
          |.*uv\.lock
          )$
        entry: codespell
      - id: debug-statements
        name: "🪵 Checking for debug statements and imports (Python)"
        language: system
        types: [python]
        entry: debug-statement-hook
      - id: detect-private-key
        name: "🕵️  Detecting private keys"
        language: system
        types: [text]
        entry: detect-private-key
      - id: end-of-file-fixer
        name: "🔚 Checking end of files"
        language: system
        types: [text]
        entry: end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: fix-byte-order-marker
        name: "🚏 Checking UTF-8 byte order marker"
        language: system
        types: [text]
        entry: fix-byte-order-marker
      - id: format
        name: "☕️ Formatting code using ruff"
        language: system
        types: [python]
        entry: ruff format
      - id: mypy
        name: "🆎 Performing static type checking using mypy"
        language: system
        types: [python]
        entry: mypy
      - id: no-commit-to-branch
        name: "🛑 Checking for commit to protected branch"
        language: system
        entry: no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=development
          - --branch=main
      - id: pylint
        name: "🌟 Starring code with pylint"
        language: system
        types: [python]
        entry: pylint
      - id: ruff
        name: "👔 Enforcing style guide with ruff"
        language: system
        types: [python]
        entry: ruff check --fix
        require_serial: true
      - id: trailing-whitespace
        name: "✄  Trimming trailing whitespace"
        language: system
        types: [text]
        entry: trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: uv-lock
        name: "🔒 Ensure the uv.lock file is up to date"
        language: system
        entry: uv lock --locked
        files: pyproject.toml$
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.4"
    hooks:
      - id: prettier
        name: "💄 Ensuring files are prettier"

Update version to 2026.03.0b1
  pyproject.toml
Due: check-toml, codespell, uv-lock

Update version to 2026.03.1
  pyproject.toml
Due: check-toml, codespell, uv-lock

Update version to 2026.03.2
  pyproject.toml
Due: check-toml, codespell, uv-lock

Update version to 2026.06.0
  pyproject.toml
Due: check-toml, codespell, uv-lock

fix(sdk): align SubmitData with current API schema (LD-2268)
  liminal/endpoints/prompt/__init__.py
  liminal/endpoints/thread/models.py
  tests/conftest.py
  tests/fixtures/prompt-submit-response.json
  tests/fixtures/threads-deidentified-context-history-response.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, mypy, pylint, ruff

fix: remove trailing blank line in conftest.py (end-of-file lint)
  tests/conftest.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

Replace customTerm with infoTypeName
  liminal/endpoints/prompt/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

Update test to use infoTypeName field
  tests/fixtures/prompt-analyze-response.json
Due: check-json, codespell

chore: Align analysis finding dataclass with new schema (#806)
  liminal/endpoints/prompt/models.py
  tests/fixtures/prompt-analyze-response.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, mypy, pylint, ruff

Update version to 2026.7.0
  pyproject.toml
Due: check-toml, codespell, uv-lock

chore: align `AnalysisFinding` data class
  liminal/endpoints/prompt/models.py
  tests/fixtures/prompt-analyze-response.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, mypy, pylint, ruff

include policy_action -> action
  liminal/endpoints/prompt/models.py
  tests/fixtures/prompt-analyze-response.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, mypy, pylint, ruff

chore!: align `AnalysisFinding` data class (#818)
  liminal/endpoints/prompt/models.py
  tests/fixtures/prompt-analyze-response.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, mypy, pylint, ruff

fix(sdk)!: align `SubmitData` with current API schema (LD-2268) (#790)
  liminal/endpoints/prompt/__init__.py
  liminal/endpoints/thread/models.py
  tests/conftest.py
  tests/fixtures/prompt-submit-response.json
  tests/fixtures/threads-deidentified-context-history-response.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, mypy, pylint, ruff

Update version to 2026.7.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

Update version to 2026.07.1b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

Update version to 2026.08.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

chore: stop sending findings to cleanse/submit/stream endpoints
  README.md
  examples/authenticate_from_auth_provider.py
  examples/chat_client.py
  examples/chat_client_streaming.py
  liminal/endpoints/prompt/__init__.py
  tests/test_prompt.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

chore: replace mypy with ty for static type checking
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

chore: replace pre-commit with prek
  .github/actions/install-prek/action.yml
  .github/workflows/lint-and-analyze.yml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/setup.sh
  uv.lock
Due: check-toml, codespell, uv-lock

chore: revise `ruff` rules
  pyproject.toml
Due: check-toml, codespell, uv-lock

chore: replace mypy with ty for static type checking (#861)
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

chore: revise `ruff` rules (#863)
  pyproject.toml
Due: check-toml, codespell, uv-lock

ignore linter error
  pyproject.toml
Due: check-toml, codespell, uv-lock

fix CI
  .github/workflows/lint-and-analyze.yml
Due: codespell

chore: stop sending findings to cleanse/submit/stream endpoints (#860)
  .github/workflows/lint-and-analyze.yml
  README.md
  examples/authenticate_from_auth_provider.py
  examples/chat_client.py
  examples/chat_client_streaming.py
  liminal/endpoints/prompt/__init__.py
  pyproject.toml
  tests/test_prompt.py
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

Update version to 2026.08.0b1
  pyproject.toml
Due: check-toml, codespell, uv-lock

shift to SHA pinned actions
  .github/actions/install-uv/action.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/scan-pull-request.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/test.yml
  renovate.json
Due: check-json, codespell

workflow job title change
  .github/workflows/scan-pull-request.yml
Due: codespell

trim trailing whitespace
  .github/workflows/create-release-pr.yml
Due: codespell

ci: Shift to SHA pinned actions instead of semantic versioning (#891)
  .github/actions/install-uv/action.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/scan-pull-request.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/test.yml
  renovate.json
Due: check-json, codespell

feat: allow null model instance on Thread
  liminal/endpoints/thread/models.py
  tests/test_thread.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

feat: allow Thread model_instance and model_instance_id to be None (#897)
  liminal/endpoints/thread/models.py
  tests/test_thread.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff
