Repository liminal-ai-security/liminal-sdk-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-ast, check-docstring-first, check-json, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

blacken-docs:
  name: ☕️ Format documentation using black
  language: system
  entry: blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Checking Python AST
  language: system
  entry: check-ast

check-docstring-first:
  name: ℹ️  Checking docstrings are first
  language: system
  entry: check-docstring-first

check-json:
  name: ｛ Checking JSON files
  language: system
  entry: check-json

check-toml:
  name: ✅ Checking TOML files
  language: system
  entry: check-toml

codespell:
  name: ✅ Checking code for misspellings
  language: system
  entry: codespell

debug-statements:
  name: 🪵 Checking for debug statements and imports (Python)
  language: system
  entry: debug-statement-hook

format:
  name: ☕️ Formatting code using ruff
  language: system
  entry: ruff format

mypy:
  name: 🆎 Performing static type checking using mypy
  language: system
  entry: mypy

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: pylint

ruff:
  name: 👔 Enforcing style guide with ruff
  language: system
  entry: ruff check --fix
  require_serial: true

uv-lock:
  name: 🔒 Ensure the uv.lock file is up to date
  language: system
  entry: uv lock --locked
  pass_filenames: false

fix incorrect package set names
  .github/workflows/create-release-pr.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
Due: codespell

fix pathing
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  tests/conftest.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

fix `pre-commit` in workflow
  .github/workflows/lint-and-analyze.yml
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

fix incorrect `pre-commit` command
  .github/workflows/lint-and-analyze.yml
Due: codespell

ensure `pytest` libs are available during linting workflow
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

refactor: (mostly) replace Poetry with `uv` (#363)
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/requirements.txt
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-pip.txt
  scripts/setup.sh
  tests/conftest.py
  uv.lock
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

fix(ci): fix broken release PR workflow
  .github/workflows/create-release-pr.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
  pyproject.toml
  scripts/bump-version.py
  scripts/setup.sh
  uv.lock
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

better checkout
  .github/workflows/create-release-pr.yml
Due: codespell

`uv run`
  .github/workflows/create-release-pr.yml
Due: codespell

Update version to 2025.01.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

fix(ci): fix broken release PR workflow (#366)
  .github/workflows/create-release-pr.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
  pyproject.toml
  scripts/bump-version.py
  scripts/setup.sh
  uv.lock
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

feat: officially support Python 3.13
  .github/workflows/test.yml
  .mise.toml
  README.md
  pyproject.toml
  uv.lock
Due: blacken-docs, check-toml, codespell, uv-lock

feat: officially support Python 3.13 (#367)
  .github/workflows/test.yml
  .mise.toml
  README.md
  pyproject.toml
  uv.lock
Due: blacken-docs, check-toml, codespell, uv-lock

build: be more inclusive about bumping `uv` version
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

Add xai to model provider keys
  liminal/endpoints/llm/models.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

build: be more inclusive about bumping `uv` version (#374)
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

chore(deps): downgrade `cryptography` to 43.0.3
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

chore(deps): downgrade `cryptography` to 43.0.3 (#376)
  pyproject.toml
  uv.lock
Due: check-toml, codespell, uv-lock

Update version to 2025.02.0b0
  pyproject.toml
Due: check-toml, codespell, uv-lock

bump
  pyproject.toml
Due: check-toml, codespell, uv-lock

feat: add support for DeepSeek and xAI
  liminal/endpoints/llm/models.py
  uv.lock
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

feat: add support for DeepSeek and xAI (#384)
  liminal/endpoints/llm/models.py
  uv.lock
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

style: update `ruff` config to match 0.9.3
  pyproject.toml
  tests/common.py
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

style: update `ruff` config to match 0.9.3 (#385)
  pyproject.toml
  tests/common.py
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, mypy, pylint, ruff, uv-lock

WIP
  liminal/__init__.py
  liminal/client.py
  liminal/endpoints/__init__.py
  liminal/endpoints/llm/__init__.py
  liminal/endpoints/prompt/__init__.py
  liminal/endpoints/thread/__init__.py
  liminal/helpers/__init__.py
  tests/auth/test_liminal.py
  tests/auth/test_microsoft.py
  tests/conftest.py
  tests/test_client.py
  tests/test_llm.py
  tests/test_prompt.py
  tests/test_thread.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

WIP
  liminal/client.py
  tests/conftest.py
  tests/test_llm.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

WIP
  liminal/helpers/__init__.py
  tests/conftest.py
  tests/test_llm.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

WIP
  liminal/endpoints/__init__.py
  tests/test_prompt.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

test: use `NamedTuple`s in `pytest` parametrizations
  tests/auth/test_microsoft.py
  tests/test_client.py
  tests/test_llm.py
  tests/test_prompt.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

ci: add Conventional Commit labels by PR title
  .github/config/labels.yml
  .github/workflows/sync-labels.yml
Due: codespell

test: use `NamedTuple`s in `pytest` parametrizations (#386)
  tests/auth/test_microsoft.py
  tests/test_client.py
  tests/test_llm.py
  tests/test_prompt.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, mypy, pylint, ruff

build: ensure Renovate uses the `chore` Conventional Commit type
  renovate.json
Due: check-json, codespell

ci: renovate PR labeling (to include Conventional Commit labels)
  .github/config/labeler.yml
  .github/config/labels.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label-pull-request.yml
  .github/workflows/lint-pull-request.yml
  .github/workflows/scan-pull-request.yml
  .github/workflows/sync-labels.yml
Due: codespell

check out code
  .github/workflows/scan-pull-request.yml
Due: codespell

build: ensure Renovate uses the `chore` Conventional Commit type (#388)
  renovate.json
Due: check-json, codespell

ci: renovate PR labeling (to include Conventional Commit labels) (#389)
  .github/config/labeler.yml
  .github/config/labels.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label-pull-request.yml
  .github/workflows/lint-pull-request.yml
  .github/workflows/scan-pull-request.yml
  .github/workflows/sync-labels.yml
Due: codespell

build: rework how `uv` is managed and installed
  .github/actions/install-uv/action.yml
  .github/workflows/lint-and-analyze.yml
  pyproject.toml
  requirements-dev.txt
  scripts/setup.sh
  uv.lock
Due: check-toml, codespell, uv-lock

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  codespell: any file but: (?x)^($^
|.*uv\.lock
)$

  debug-statements: any of: \.py$
  format: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  ruff: any of: \.py$
  uv-lock: any of: pyproject.toml$
